<!DOCTYPE html>
<html>
  <head>
    <title>Storee</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://js.braintreegateway.com/v2/braintree.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render 'shared/nav'%>
     <!--  <div class="container">
         <p class="notice"><%= notice %></p>
         <p class="alert"><%= alert %></p>
      </div> -->

       <div class="container">
        <%= content_tag :div, notice, class: "bg-success" %>
        <%= content_tag :div, alert, class: "bg-danger" %>
        <%= yield %>
       </div>
  </body>
</html>
